// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/timelinenav";

// Components that aren't in Frontend
@import "components/cookie-banner";

// for app-cards
.app-card {
    text-decoration: none;
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    min-height:210px;
    &:hover {
        background-color: #f3f2f1;
        color: #ffffff !important;
        outline: 3px solid black;

    }
}


.app-card:hover {
    color: #ffffff !important;
}

.app-card, .js-enabled .print-page {
    display: block;
  }

.app-card__heading {
    color: #005ea5;

  }



// For secondary navigation-secondary

.navigation-secondary ul:after {
  content: "";
  display: block;
  clear: both;
}

.navigation-secondary {
  border-bottom: 1px solid #bfc1c3;
  margin: auto;
  max-width: 960px;

}

.navigation-secondary ul {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 0;
}

.navigation-secondary li {
  float: left;
  list-style-type: none;
}

@media (max-width: 640px) {
  .navigation-secondary li {
    border: 0;
    width: 100%;
  }
}

.navigation-secondary a {
  display: block;
  padding: 15px;
}

.navigation-secondary a:visited {
  color: #005ea5;
}

.navigation-secondary a:hover {
  background-color: #f8f8f8;
}

.navigation-secondary .active {
  box-shadow: inset 0px -5px 0px 0px #005ea5;
  color: #0b0c0c;
  text-decoration: none;
}

.navigation-secondary .active:visited {
  color: #0b0c0c;
}



.remove-border-from-header {
	.govuk-header__container,
	.govuk-header {
		border-bottom: none;
	}
	.govuk-header__container {
		padding-bottom: govuk-spacing(2);
	}
}

.prototype-top {
	background-color: #cce2d8;
	box-sizing: border-box;
	color: #005a30;
	width: 100%;
	padding-top: govuk-spacing(6);
	padding-bottom: govuk-spacing(6);

	* {
		color: #005a30 !important;
	}
}

.prototype-top-bluezone {
	background-color: #1d70b8;
	box-sizing: border-box;
	color: #ffffff;
	width: 100%;
	padding-top: govuk-spacing(6);
	padding-bottom: govuk-spacing(6);

	* {
		color: #ffffff !important;
	}
}


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
