{% extends "layout.html" %}


{% block pageTitle %}
  Manage tasks
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Manage tasks
          </span>
        </span>
      </a>
      <br>
      <br>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation  " aria-label="Navigation menu">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="/my-tasks/task-list">
              My tasks
            </a>
          </li>

          <li class="govuk-header__navigation-item ">
            <a class="govuk-header__link" href="/my-tasks/statistics/statistics">
              My clearances
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>



</header>
{% endblock %}





{% block content %}

<!-- Banner - Start -->
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      Task assigned to {{ data['assign-team-member'] }}
    </p>
    <p class="govuk-body">Reason: {{ data['more-detail'] | default('No reason provided') }}</p>
  </div>
</div>

<!-- Banner - End -->
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds" style="width:65%;">
    <h1 class="govuk-heading-xl">
      My tasks
      <!-- <span class="govuk-body"><a href="/my-tasks/task-list-alternative">Alternate option</a></span> -->
    </h1>
  </div>
  <div class="govuk-grid-column-one-thirds" >
  <a href="add-new-tasks"><button class="govuk-button govuk-!-margin-left-9 " data-module="govuk-button" > Add new tasks to my to-do list </button></a>
</div>
</div>


<div class="govuk-grid-row">
    <!-- Secondary Navigation Start-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <nav class="navigation-secondary govuk-!-font-size-19">
          <ul>
            <li>
              <a href="/my-tasks/task-list"  aria-current="section">To-do</a>
            </li>
            <li>
              <a href="/my-tasks/task-list-in-progress" class="active">In progress</a>
            </li>
            <li>
              <a href="/my-tasks/task-list-assigned">Assigned to someone else</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Secondary Navigation End-->

    <div class="govuk-grid-column-full">
      <br><br>
      <h1 class="govuk-heading-l">
        To-do
      </h1>
      <!-- Table to hold list of tasks -->
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-width-one-half" style="width:55% !important;" >Task</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Reason for parking</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Check applicant and partner benefits</a></td>
            <td class="govuk-table__cell">No reason provided</td>
          </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/my-tasks/in-progress/verify-non-employment">Check non-employment income</a></td>
              <td class="govuk-table__cell">No reason provided</td>
            </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Update bank details </a></td>
            <td class="govuk-table__cell">System error while adding detials, will try tomorrow</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="#">Update dependent qualifying benefits </a></td>
            <td class="govuk-table__cell">No reason provided</td>
          </tr>

        </tbody>
      </table>
      <!-- Table to hold list of tasks -- END -->
    <br>
    </div>

  </div>       <!-- End of main row -->


{% endblock %}
