{% extends "layout.html" %}

{% block pageTitle %}
  Refer task
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    function validateForm() {
      var x = document.forms["reason-for-escalate"]["more-detail"].value;
      var y = document.getElementById("error-summary");
      var z = document.getElementById("error-summary-2");
      var a = document.getElementById("error-summary-3");
      var field_error = document.getElementById("reason-to-escalate-text");
      var field_error_notes = document.getElementById("more-notes-text");
      var no_notes = document.forms["reason-for-escalate"]["more-notes"].value;

      if (x == "" && no_notes == "") {
        y.style.display="block";
        z.style.display="none";
        a.style.display="none";

        field_error.style.display="block";
        field_error_notes.style.display="block";

        $("#more-details").addClass("govuk-form-group--error");
        $("#more-notes-section").addClass("govuk-form-group--error");
        $("#more-detail").addClass("govuk-textarea--error");
        $("#more-notes").addClass("govuk-textarea--error");

        return false;
      } else if (x !== "" && no_notes == "") {
        y.style.display="none";
        z.style.display="block";
        a.style.display="none";

        field_error.style.display="none";
        field_error_notes.style.display="block";

        $("#more-details").removeClass("govuk-form-group--error");
        $("#more-notes-section").addClass("govuk-form-group--error");
        $("#more-detail").removeClass("govuk-textarea--error");
        $("#more-notes").addClass("govuk-textarea--error");

        return false;
      } else if (x == "" && no_notes !== "") {
        y.style.display="none";
        z.style.display="none";
        a.style.display="block";

        field_error.style.display="block";
        field_error_notes.style.display="none";

        $("#more-details").addClass("govuk-form-group--error");
        $("#more-notes-section").removeClass("govuk-form-group--error");
        $("#more-detail").addClass("govuk-textarea--error");
        $("#more-notes").removeClass("govuk-textarea--error");

        return false;
      }





    }
  </script>
{% endblock %}



{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Manage tasks
          </span>
        </span>
      </a>
      <br>
      <br>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation  " aria-label="Navigation menu">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="/my-tasks-using-tl/task-list">
              My tasks
            </a>
          </li>

          <li class="govuk-header__navigation-item ">
            <a class="govuk-header__link" href="/my-tasks-using-tl/statistics/statistics">
              My clearances
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>



</header>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="verify-non-employment">Back</a>
{% endblock %}




{% block content %}

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#more-notes-text">Enter notes</a>
      </li>
      <li>
        <a href="#more-details">Enter reason for referring task</a>
      </li>
    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary-2" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#more-notes-text">Enter notes</a>
      </li>

    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary-3" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#more-details">Enter reason for referring task</a>
      </li>

    </ul>
  </div>
</div>
<!-- Error Summary - End -->




<!-- Main content start  -->



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Refer to a decision maker or team leader
      </h1>


      <!-- Task information - start -->

      <h2 class="govuk-heading-m">Task information</h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
              Check non-employment income

          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assigned by
          </dt>
          <dd class="govuk-summary-list__value">
            Me
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case number
          </dt>
          <dd class="govuk-summary-list__value">
            HR238615M
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Investigate and verify fostering, rental income and direct payment details
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            Very high
          </dd>

        </div>

      </dl>

      <!-- Task information - end -->


      <br>
      <br>
      <h2 class="govuk-heading-m">Select role, priority and add notes</h2>

      <form class="form" name="reason-for-escalate" action="escalate-confirm-answers" onsubmit="return validateForm()" method="post">

        <div class="govuk-form-group">

        <label class="govuk-label" for="escalate-level">
          Select role
        </label>

        <!-- Field Error - Start -->
        <span id="escalate-level-error" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter your reason for not doing this task
        </span>
        <!-- Field Error - End -->

        <select id="escalate-level-select" class="govuk-select" name="escalate-level" value="" >
          <option value="Team leader" selected>Team leader</option>
          <option value="Decision maker" >Decision maker</option>
        </select>
        </div>


      <!-- Select the priority -->
      <div class="govuk-form-group">
        <label class="govuk-label " for="priority-level">
          Select priority
        </label>

        <!-- Field Error - Start -->
        <span id="priority-level" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter your reason for not doing this task
        </span>
        <!-- Field Error - End -->

      <select id="scalate-priority-level"class="govuk-select" id="sort" name="escalate-priority">
        <option value="Low">Low</option>
        <option value="Medium" >Medium</option>
        <option value="High">High</option>
        <option value="Very high" selected>Very high</option>
        <option value="Needs immediate attention" >Needs immediate attention</option>
      </select>
      </div>

      <!-- Notes -->
      <div class="govuk-form-group" id="more-notes-section">
        <label class="govuk-label" for="escalate-notes">
          Enter notes
        </label>

        <!-- Field Error - Start -->
        <span id="more-notes-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter notes
        </span>
        <!-- Field Error - End -->


        <textarea class="govuk-textarea" id="more-notes" name="more-notes" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <!-- Reason for escalation -->
      <div class="govuk-form-group" id="more-details">

        <label class="govuk-label" for="more-detail">
          Enter reason for referring task
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-escalate-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter reason for referring task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="more-detail"  rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          Add task to 'Assigned to someone else' list to follow progress
        </label>
      </div>

      <br>
      <br>
      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
