{% extends "layout.html" %}

{% block pageTitle %}
  Assign task
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    function validateForm() {
      var x = document.forms["reason-for-escalate"]["more-detail"].value;
      var y = document.getElementById("error-summary");
      var z = document.getElementById("error-summary-2");
      var a = document.getElementById("error-summary-3");
      var b = document.getElementById("error-summary-all");
      var c = document.getElementById("error-summary-4");
      var field_error = document.getElementById("reason-to-escalate-text");
      var field_error_notes = document.getElementById("more-notes-text");
      var field_error_member = document.getElementById("assign-team-member-error");


      var no_notes = document.forms["reason-for-escalate"]["more-notes"].value;
      var no_member = document.forms["reason-for-escalate"]["assign-team-member"].value;


      if (x == "" && no_notes == "" && no_member == "no-member") {
        y.style.display="none";
        z.style.display="none";
        a.style.display="none";
        b.style.display="block";
        c.style.display="none";

        field_error.style.display="block";
        field_error_notes.style.display="block";
        field_error_member.style.display="block";

        $("#assign-team-member").addClass("govuk-form-group--error");
        $("#assign-team-member-select").addClass("govuk-select--error");
        $("#more-details").addClass("govuk-form-group--error");
        $("#more-notes-section").addClass("govuk-form-group--error");
        $("#more-detail").addClass("govuk-textarea--error");
        $("#more-notes").addClass("govuk-textarea--error");

        return false;
      }

      if (x !== "" && no_notes !== "" && no_member == "no-member") {
        y.style.display="none";
        z.style.display="none";
        a.style.display="none";
        b.style.display="none";
        c.style.display="block";

        field_error.style.display="none";
        field_error_notes.style.display="none";
        field_error_member.style.display="block";

        $("#assign-team-member").addClass("govuk-form-group--error");
        $("#assign-team-member-select").addClass("govuk-select--error");
        $("#more-details").removeClass("govuk-form-group--error");
        $("#more-notes-section").removeClass("govuk-form-group--error");
        $("#more-detail").removeClass("govuk-textarea--error");
        $("#more-notes").removeClass("govuk-textarea--error");

        return false;
      }


      if (x == "" && no_notes == "") {
        y.style.display="block";
        z.style.display="none";
        a.style.display="none";
        b.style.display="none";

        field_error.style.display="block";
        field_error_notes.style.display="block";
        field_error_member.style.display="none";

        $("#assign-team-member").removeClass("govuk-form-group--error");
        $("#assign-team-member-select").removeClass("govuk-select--error");
        $("#more-details").addClass("govuk-form-group--error");
        $("#more-notes-section").addClass("govuk-form-group--error");
        $("#more-detail").addClass("govuk-textarea--error");
        $("#more-notes").addClass("govuk-textarea--error");

        return false;
      } else if (x !== "" && no_notes == "") {
        y.style.display="none";
        z.style.display="block";
        a.style.display="none";
        b.style.display="none";

        field_error.style.display="none";
        field_error_notes.style.display="block";
        field_error_member.style.display="none";

        $("#assign-team-member").removeClass("govuk-form-group--error");
        $("#assign-team-member-select").removeClass("govuk-select--error");

        $("#more-details").removeClass("govuk-form-group--error");
        $("#more-notes-section").addClass("govuk-form-group--error");
        $("#more-detail").removeClass("govuk-textarea--error");
        $("#more-notes").addClass("govuk-textarea--error");

        return false;
      } else if (x == "" && no_notes !== "") {
        y.style.display="none";
        z.style.display="none";
        a.style.display="block";
        b.style.display="none";

        field_error.style.display="block";
        field_error_notes.style.display="none";
        field_error_member.style.display="none";

        $("#assign-team-member").removeClass("govuk-form-group--error");
        $("#assign-team-member-select").removeClass("govuk-select--error");

        $("#more-details").addClass("govuk-form-group--error");
        $("#more-notes-section").removeClass("govuk-form-group--error");
        $("#more-detail").addClass("govuk-textarea--error");
        $("#more-notes").removeClass("govuk-textarea--error");

        return false;
      }





    }
  </script>
{% endblock %}

{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Manage tasks
          </span>
        </span>
      </a>
      <br>
      <br>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation  " aria-label="Navigation menu">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="/my-tasks-using-tl/task-list">
              My tasks
            </a>
          </li>

          <li class="govuk-header__navigation-item ">
            <a class="govuk-header__link" href="/my-tasks-using-tl/statistics/statistics">
              My clearances
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>



</header>
{% endblock %}




{% block beforeContent %}
  <a class="govuk-back-link" href="check-disable-details">Back</a>
{% endblock %}




{% block content %}


<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary-all" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#assign-team-member">Select team member</a>
      </li>

      <li>
        <a href="#more-notes-text">Enter your notes for this task</a>
      </li>
      <li>
        <a href="#more-details">Enter your reason for not doing this task</a>
      </li>
    </ul>
  </div>
</div>
<!-- Error Summary - End -->


<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#more-notes-text">Enter your notes for this task</a>
      </li>
      <li>
        <a href="#more-details">Enter reason for not doing this task</a>
      </li>
    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary-2" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#more-notes-text">Enter your notes for this task</a>
      </li>

    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary-3" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#more-details">Enter reason for not doing this task</a>
      </li>

    </ul>
  </div>
</div>
<!-- Error Summary - End -->

<!-- Error Summary - Start -->
<div class="govuk-error-summary govuk-radios__conditional--hidden" id="error-summary-4" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" >
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#assign-team-member">Select team member</a>
      </li>

    </ul>
  </div>
</div>
<!-- Error Summary - End -->




<!-- Main content start  -->



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Assign task to team member
      </h1>


      <!-- Task information - start -->

      <h2 class="govuk-heading-m">Task information</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Task
          </dt>
          <dd class="govuk-summary-list__value">
            Check disabled person's details and appointee

          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assigned by
          </dt>
          <dd class="govuk-summary-list__value">
            Andrew R
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case number
          </dt>
          <dd class="govuk-summary-list__value">
            KR873861R
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Investigate and verify disabled person's details, income and direct payment details
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            Very high
          </dd>

        </div>

      </dl>
      <!-- Task information - end -->


      <br>
      <br>
      <h2 class="govuk-heading-m">Select team member and add notes</h2>

      <form class="form" name="reason-for-escalate" action="assign-task-confirm-answers" onsubmit="return validateForm()" method="post">

        <div class="govuk-form-group" id="assign-team-member">

        <label class="govuk-label" for="assign-team-member">
          Select team member
        </label>

        <!-- Field Error - Start -->
        <span id="assign-team-member-error" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Select team member
        </span>
        <!-- Field Error - End -->


        <select id="assign-team-member-select" class="govuk-select" name="assign-team-member" >
          <option value="no-member" selected>-- Select --</option>
          <option value="Andrew Hardy" >Andy M</option>
          <option value="Anjita Lamzel" >James May </option>
          <option value="Benson Kemi" >Raj Kumar</option>
          <option value="Dan Wood" >Jonathan Woo</option>
          <option value="Genine Keogh" >Jessica K </option>
          <option value="Jeffrey Douglass" >John Jeffrey</option>

          <option value="Macleod Miriam" >May M</option>
          <option value="Mark Duncan" >Malcome K </option>
          <option value="Pablo Cabello" >Jason Co</option>

        </select>
        </div>



      <!-- Notes -->
      <div class="govuk-form-group" id="more-notes-section">
        <label class="govuk-label" for="escalate-notes">
          Enter notes
        </label>

        <!-- Field Error - Start -->
        <span id="more-notes-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter notes for this task
        </span>
        <!-- Field Error - End -->


        <textarea class="govuk-textarea" id="more-notes" name="more-notes" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <!-- Reason for escalation -->
      <div class="govuk-form-group" id="more-details">

        <label class="govuk-label" for="more-detail">
          Reason for assigning task
        </label>

        <!-- Field Error - Start -->
        <span id="reason-to-escalate-text" class="govuk-error-message govuk-radios__conditional--hidden">
            <span class="govuk-visually-hidden">Error:</span>Enter reason for assigning task
        </span>
        <!-- Field Error - End -->

        <textarea class="govuk-textarea" id="more-detail" name="more-detail"  rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          Add task to 'Assigned to someone else' list to follow progress
        </label>
      </div>

      <br>
      <br>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
