{% extends "layout.html" %}

{% block pageTitle %}
  Add new payment details
{% endblock %}


{% block header %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">
            Manage tasks
          </span>
        </span>
      </a>
      <br>
      <br>
      <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide navigation menu">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation  " aria-label="Navigation menu">
          <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
            <a class="govuk-header__link" href="/my-tasks-using-tl/task-list">
              My tasks
            </a>
          </li>

          <li class="govuk-header__navigation-item ">
            <a class="govuk-header__link" href="/my-tasks-using-tl/statistics/statistics">
              My clearances
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>



</header>
{% endblock %}



{% block beforeContent %}
  <a class="govuk-back-link" href="/my-tasks-using-tl/task-list">Back</a>
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Add payment details
      </h1>

      <p></p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--yellow">
              Not Started
            </strong>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case number
          </dt>
          <dd class="govuk-summary-list__value">
            CA213121E
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assigned by
          </dt>
          <dd class="govuk-summary-list__value">
            System
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Add new payment details to carer's account
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Priority
          </dt>
          <dd class="govuk-summary-list__value">
            Medium
          </dd>

        </div>

      </dl>

      <br>
      <a href="bluezone-process"><button class="govuk-button" data-module="govuk-button">Start task </button></a>

      <br>      <br>

      <p><a href="i-cannot-do-this-task-3">I cannot do this task</a></p>
    </div>



  </div>

{% endblock %}
